<h1>Forgot Your Password?</h1>
<h2>Enter your email to reset password</h2>

<div class="formWrapper">
  <form id="passwordForgot" action="/password/forgot" method="POST">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel">Email</div>
      <input type="email" name="email" placeholder="xxx@mail.com" />
    </div>
    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta blue">Send</button>
    </div>
  </form>
</div>
